
<section class="main">

		<section class="top">
			<div class="wrapper content_header clearfix">
				<div class="work_nav">

					<ul class="btn clearfix">
						<li><a href="#" class="previous" data-title="Previous"></a></li>
						<li><a href="index.html" class="grid" data-title="Portfolio"></a></li>
						<li><a href="#" class="next" data-title="Next"></a></li>
					</ul>

				</div><!-- end work_nav -->
				<h1 class="title"></h1>
			</div>
		</section><!-- end top -->

		<section class="news">

			<div class="section">
			<div class ="h1"> DERNIERS ÉPISODES DIFFUSÉS </div>
			<div class="scroll">

			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/absolute_Duo.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</a>
					</div>



			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/Akame_ga_kill.jpg" class="media" alt="" />
							<p class="label">
								<span class="titreepisode">Akame ga kill</span>
								<span class="ep">#3</span>
							</p>
					</div>
				</a>


			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/Ansatsu_Kyoushitsu.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>


			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/Black_Bullet.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>



			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/Blade&Soul.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>



			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/Dungeon_ni_Deai_wo_Motomeru_no_wa_Machigatteiru_Darou_ka.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>



			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/FateStay_Night_Unlimited_Blade_Works.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>



			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/Gangsta.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>



			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/Kiseijuu_Sei_no_Kakuritsu.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>



			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/Rokka_no_Yuusha.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>



			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/Kyoukai_no_Kanata.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>



			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/Madan_no_Ou_to_Vanadis.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>



			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/No_Game_No_Life.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>



			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/Prison_School.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>



			<div class="work1">
				<!--<figure class="effect-sadie">-->
				<a href="inner.html">
					<img src="/modules/core/img/mangas/Tokyo_Ghoul.jpg" class="media" alt=""/>
					<p class="label">
						<span class="titreepisode">Absolute Duo</span>
						<span class="ep">#3</span>
					</p>
					</div>
				</a>
</div class="scroll">
</div class="section">

<div class="section">
	<div class ="h1"> NOUVEAUTÉS MANGAS </div>
<div class="scroll">
<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Absolute_Duo.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>


<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Akame_ga_kill.jpg" class="media" alt="" />
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>


<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Ansatsu_Kyoushitsu.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>


<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Black_Bullet.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>



<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Blade&Soul.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>



<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Dungeon_ni_Deai_wo_Motomeru_no_wa_Machigatteiru_Darou_ka.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>



<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/FateStay_Night_Unlimited_Blade_Works.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>



<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Gangsta.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>



<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Kiseijuu_Sei_no_Kakuritsu.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>



<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Rokka_no_Yuusha.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>



<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Kyoukai_no_Kanata.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>



<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Madan_no_Ou_to_Vanadis.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>



<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/No_Game_No_Life.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>



<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Prison_School.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>



<div class="work1">
	<!--<figure class="effect-sadie">-->
	<a href="inner.html">
		<img src="/modules/core/img/mangas/Tokyo_Ghoul.jpg" class="media" alt=""/>
		<p class="label">
			<span class="titreepisode">Absolute Duo</span>
			<span class="ep">#3</span>
		</p>
		</div>
	</a>


</div class="scroll">
</div class="section">

		</section>
	</section><!-- end main -->
